body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.main{
    height: 1300px;
    width:900px;
    background-color: #ACDCF9;
    box-shadow: 10px 10px 15px 5px #b9b6b6;
    margin: 0px auto ;
}
.back
{
    margin-right: 100%;
}
.backbtn
{
    margin: 30px;
    padding: 7px;
    font-size: 30px;
    text-align: center;    
    position: absolute;
    justify-content: center;
    font-family: Arial;
    color:rgb(77, 77, 77);
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    
}
.backbtn img
{
    width: 40px;
    height: 35  px;
}
.back :hover
{
    background-color: rgb(156, 156, 156);
    color: black;
    border-radius: 5px;
    transition: .2s;
}
.left-container{
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-top: 0px;
}
.header{
    background-color: #204458;
    padding: 20px;
    border-top: 10px;
}
.title{
    font-size: 30px;
    padding: 0px;
    background-color: #21E9C5;
}
.profile{
    display: block;
    width: 200px;
    border-radius: 60%;
    margin: 10px auto;
}
.p1{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    padding: 0px auto;
    color:#ACDCF9;
}
.p2{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    opacity: 0.6;
    color: #ACDCF9;
}
.content-box{
    padding-left: 40px;
}
.fa{
    padding: 10px;
}
.fa-phone{
    background: rgb(56, 135, 224);
    color: white;
    border-radius: 40%;
}
.fa-envelope{
    background:rgb(56, 135, 224);
    color: white;
    border-radius: 40%;
}
.fa-home{
    background: rgb(56, 135, 224);
    color: white;
    border-radius: 40%;
}
.fa-instagram{
    background: rgb(56, 135, 224);
    color: white;
    border-radius: 40%;
}
.fa-facebook{
    background: rgb(56, 135, 224);
    color: white;
    border-radius: 40%;
}
.fa:hover{
    opacity: 0.3;
}
.content-box{
    padding: 20px;
}
.right-container{
    width: 45%;
    float: right;
}
.head{
    padding-top: 20px;
    font-size: 30px;
    background-color: #21E9C5;
    padding: 0px;
    margin-right: 40px;
    margin-top: 50px;
}
.about-me{
    margin-right: 40px;
}
.content-award{
    margin-top: 20px;
}