*
{
    box-sizing: border-box;
}
body
{
    margin:0;
    padding:0;
    background-image: url(aboutusbg.jpg);
    background-size: cover;
}
.bg
{
    width: 100%;
    height:100vh;
    display: flex;
    overflow: hidden;
}  
.aboutus
{
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    align-items: center;
    text-align: center;
    color: white;
    font-family:tahoma;
    position: absolute;
    justify-content: center;
    margin-left: 40%;
    font-size: 4rem;
    margin-top: 20px;
    border-radius: 20px;
    border:solid white;
} 
.backbtn
{
    margin: 30px;
    padding: 7px;
    font-size: 30px;
    text-align: center;    
    position: absolute;
    justify-content: center;
    font-family: Arial;
    color:white;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
}
.backbtn img
{
    width: 40px;
    height: 35  px;
}
.back :hover
{
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    transition: .2s;
}

.box
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:200px;
    padding: 200px;
    padding-left:100PX;
}
.box img
{
    width: 300px;
    height:300px;
    padding: 30px;
}
.jo
{
    box-sizing: border-box;
    box-shadow: 20px 20px 20px 20px;
    border: solid white;
    margin: 10px;
}

.jo:hover
{
    cursor: pointer;
}
.joimg:hover
{
    transition: 1s;
    transform: scale(1.2);
    border-radius: 200px;
    rotate: -15deg;
}
.joetxt
{
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    border-radius: 5px;

}
.ge
{
    box-sizing: border-box;
    box-shadow: 20px 20px 20px 20px;
    border: solid white;
    margin: 10px;

}
.ge:hover
{
    cursor: pointer;
}
.ge img:hover
{
    transition: 1s;
    transform: scale(1.2);
    border-radius: 200px;
}
.gel
{
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    border-radius: 5px;

}
.je
{
    box-sizing: border-box;
    box-shadow: 20px 20px 20px 20px;
    border: solid white;
    margin: 10px;

}
.je:hover
{
    cursor: pointer;
}
.je img:hover
{
    transition: 1s;
    transform: scale(1.2);
    border-radius: 200px;
}
.jer
{
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    border-radius: 5px;
}
